/* Grid –––––––––––––––––––––––––––––––––––––––––––––––––– */

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}


/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .column, .columns {
    margin-left: 4%;
  }

  .column:first-child, .columns:first-child {
    margin-left: 0;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

}

/* Base Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* set html to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  color: rgb(50, 50, 50);
}

/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

p {
  margin-top: 0;
}

/* Links –––––––––––––––––––––––––––––––––––––––––––––––––– */

.button, button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #999999;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover, button:hover, .button:focus, button:focus {
  color: #CCCCCC;
  border-color: #AAAAAA;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0px;
}

input[type="checkbox"] {
  display: inline;
}

/* Spacing –––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button {
  margin-bottom: 0rem;
}

input, form {
  margin-bottom: 0rem;
}

p {
  margin-bottom: 0.75rem;
}


/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}


/* Main Layout –––––––––––––––––––––––––––––––––––––––––––––––––- */
html, body {
  height: 100%;
}

body {
  background-color: #1E1E1E;
  color: #d8d8d8;
  height: 100%;
  margin: 0;
  padding: 0;
}

.react-entry-point {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans Semi Bold", sans-serif;
  letter-spacing: 2.1px;
  font-size: 21px;
  padding-left: 12px;
}

p {
  font-family: "Open Sans Light", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 12px;
}

a {
  text-decoration: none;
}

.bg-grey {
  background-color: #31302F;
}

.text-padding {
  padding: 5px;
}

#reload-button, #loading-button {
  margin-top: 20px;
}

.reload-button--loading {
  display: none;
}

.loading-button {
  display: none;
}

.loading-button--loading {
  display: inline-block;
}

.empty-message {
  position: absolute;
  right: 200px;
  top: 30%;
  transform: translateY(-50%);

  padding: 30px;
  font-size: 32px;
  width: 40%;
  display: none;

  background-color: #8CACD750;

  border: 2px solid #8CACD7;
  border-radius: 8px;
}

.empty-message--visible {
  display: block;
}

#error-toast {
  position: fixed;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;

  background-color: white;
  color: #121212;

  margin: 24px;
  padding: 14px 16px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

}

#error-toast.error-toast--visible {
  animation-name: fly-in;
  animation-duration: 0.5s;
  bottom: 0px;
}

@keyframes fly-in {
  0%    {bottom: -200px;}
  100%   {bottom: 0px;}
}



/* Graph Layout –––––––––––––––––––––––––––––––––––––––––––––––––- */
.chart-template-div {
  display: none !important;
}

[id^=chart__] {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;

  margin-top: 20px;
}

[id^=chart__]::before {
  content: attr(data-batch-description);
  color: white;
  margin-left: 70px;
  border-bottom: 1px solid;
  font-size: 22px;
}

#histogram {
  flex-grow: 1
}

#map-graph {
  flex-grow: 2
}

.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}

/* Graph Control Objects –––––––––––––––––––––––––––––––––––––––––––––––––- */
#main-section {
  padding-left: 55px;
  padding-top: 64px;
}

#batch-selection-form {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
}

.batch-selection__label {
  display: inline-flex;
  flex-direction: row-reverse;
}

.batch-selection__label input {
  margin-right: 8px;
}

/* For Mobile Phones and small screens –––––––––––––––––––––––––––––––––––––––––––––––––- */
@media only screen and (max-width: 768px) {
  .four, .eight {
    min-width: 100%;
  }

  h2, p {
    text-align: center;
  }

  body {
    display: block;
    margin: 0px;
    overflow-y: scroll;
  }

  [id^=chart__] {
    width: 100%;
    text-align: center;
  }

  #main-section {
    padding: 32px;
  }

  .side-by-side {
    display: inline-block;
    width: 48%;
  }


  .side-by-side-right {
    display: inline-block;
    width: 48%;
    float: right;
  }

  [id^=chart__] {
    margin: 0px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d8d870 !important;
}
